<h4>Internal server error - refreshing page will make the error disappear</h4>

<ng-container *ngIf="error">
    <h1 class="text-danger">Error: {{error.message}}</h1>
    <p style="font-weight:bold">Note: if you are seeing this then angular is propably not to blame
    </p>
    <p>what to do next?</p>
    <ol>
        <li>Open dev tools! check the network for failing</li>
        <li>Examine the request URL - what api endpoint are you requesting?</li>
        <li>Reproduce the problem in Postman - if same error Angular 100% no the problem</li>
    </ol>

    <p style="font-weight: bold;">Follwoing is the stack trace the first few lines will tell you
        which lines of code causes this</p>
    <code class="mt-5"
        style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
